<div class="dcp-frame-footer">
  <ul class="dcp-frame-footer__section dcp-frame-footer-tiles">
    <li v-for="(footerTile, index) in footerTiles" :key="index" class="dcp-frame-footer-tiles__item">
      <a class="dcp-frame-footer-tile" @click.prevent="openModal(footerTile.content, footerTile.uid)" data-test-id="frame-footer__tile" href="#">
        <span class="dcp-frame-footer-tile__label">
          {{ footerTile.title }}
        </span>
        <icon-arrow class="dcp-frame-footer-tile__icon" aria-hidden="true"></icon-arrow>
      </a>
    </li>
  </ul>

  <div class="dcp-frame-footer__section dcp-frame-footer__breadcrumb dcp-frame-footer-breadcrumb">
    <a class="dcp-frame-footer-breadcrumb__link-back dcp-frame-footer-breadcrumb-link-back wb2-link-small"
       @click.prevent="handleBackLinkClick"
       data-test-id="frame-footer__back-link"
       href="#"
       v-if="$route.meta.footerBackLink">
      <icon-arrow-back class="dcp-frame-footer-breadcrumb-link-back__icon" aria-hidden="true"></icon-arrow-back>
      <span class="dcp-frame-footer-breadcrumb-link-back__label--mq1">
        {{ $t(backLinkLabel.mq1) }}
      </span>
      <span class="dcp-frame-footer-breadcrumb-link-back__label--mq4">
        {{ $t(backLinkLabel.mq4) }}
      </span>
    </a>

    <div class="dcp-frame-footer-breadcrumb__links">
      <!-- breadcrumbs placeholder -->
    </div>

    <a class="dcp-frame-footer-breadcrumb__link-up dcp-frame-footer-breadcrumb-link-up wb2-link-small"
       @click.prevent="scrollToTop"
       data-test-id="frame-footer__scroll-up"
       href="#">
      {{ $t('dcp.footer.scrollUp') }}
      <icon-arrow class="dcp-frame-footer-breadcrumb-link-up__icon" aria-hidden="true"></icon-arrow>
    </a>
  </div>
  <div class="dcp-frame-footer__section dcp-frame-footer-legal">
    <ul class="dcp-frame-footer-legal__portal-links dcp-frame-footer-legal-portal-links">
      <li class="dcp-frame-footer-legal-portal-links__item">
        <a
          class="wb2-link-small"
          target="_blank"
          :href="footerCookieLink"
          data-test-id="frame-footer__link">
          {{ $t('dcp.footer.link.cookies.title') }}
        </a>
      </li>
      <li v-for="({ title, content, url }) in customizedFooterLinks" class="dcp-frame-footer-legal-portal-links__item">
        <a
          class="wb2-link-small"
          data-test-id="frame-footer__link"
          target="_blank"
          :href="url"
          v-if="isCustomizedFooter && url !== ''">
          {{ $t(title) }}
        </a>
        <a
          class="wb2-link-small"
          @click.prevent="openModal($t(content))"
          data-test-id="frame-footer__link"
          href="#"
          v-else>
          {{ $t(title) }}
        </a>
      </li>
    </ul>
    <a
      class="dcp-frame-footer-legal__legal-notice wb2-link-small"
      target="_blank"
      :href="copyrightLink"
      data-test-id="frame-footer__legal-notice"
      v-if="isCustomizedFooter && copyrightLink">
      {{ $t('dcp.footer.copyright.title') }}
    </a>
    <a
      class="dcp-frame-footer-legal__legal-notice wb2-link-small"
      @click.prevent="openModal($t('dcp.footer.copyright.content'))"
      data-test-id="frame-footer__legal-notice"
      href="#"
      v-else>
      {{ $t('dcp.footer.copyright.title') }}
    </a>
</div>
<modal-popup
    modal-type="info"
    data-test-id="frame-footer__modal"
    class="dcp-frame-footer-modal"
    :is-open="showModal"
    @close="showModal = false">
    <template slot="content">
      <div v-html="modalContent" class="wb2-modal-edit-content__section"></div>
    </template>
  </modal-popup>
</div>
