<div class="dcp-buy-box">
  <h2 v-if="vehicle.name" class="dcp-buy-box__product-variation-name"
    data-test-id="dcp-buy-box__product-variation-name">
    {{ vehicle.name }}
  </h2>
  <h3 class="dcp-buy-box__price-label" v-if="vehicle.price">{{ $t('dcp.pdp.buybox.priceLabel') }}</h3>
  <div class="dcp-buy-box__price">
    <h3 class="dcp-buy-box-price" v-if="vehicle.price" data-test-id="dcp-buy-box-price">
      {{ vehicle.price.formattedValue }}
      <sup v-if="buyBoxPriceFootnote" class="dcp-buy-box-price__reference" @click.stop="scrollToFootnotes">
        [{{ buyBoxPriceFootnote.referenceNumber }}]
      </sup>
    </h3>
    <monthly-rate
    v-if="showMonthlyRate"
    :monthly-rate="vehicle.monthlyRate" />
  </div>
  <hr class="dcp-buy-box__divider">
  <div class="dcp-buy-box__vehicle-characteristics dcp-buy-box-vehicle-characteristics"
    v-if="vehicle.powerInKw || vehicle.fuelType || vehicle.gearBox">
    <div v-if="vehicle.powerInKw"
      class="dcp-buy-box-vehicle-characteristics__item dcp-buy-box-vehicle-characteristics-item">
      <icon-engine class="dcp-buy-box-vehicle-characteristics-item__icon"></icon-engine>
      <span data-test-id="dcp-buy-box-vehicle-characteristics-power">
        {{ vehicle.powerInKw }} kW
      </span>
    </div>
    <div v-if="vehicle.fuelType"
      class="dcp-buy-box-vehicle-characteristics__item dcp-buy-box-vehicle-characteristics-item">
      <icon-fuel class="dcp-buy-box-vehicle-characteristics-item__icon"></icon-fuel>
      <span data-test-id="dcp-buy-box-vehicle-characteristics-fuel-type">
        {{ vehicle.fuelType }}
      </span>
    </div>
    <div v-if="vehicle.transmission"
      class="dcp-buy-box-vehicle-characteristics__item dcp-buy-box-vehicle-characteristics-item">
      <icon-gear class="dcp-buy-box-vehicle-characteristics-item__icon"></icon-gear>
      <span data-test-id="dcp-buy-box-vehicle-characteristics-gear-box">
        {{ vehicle.transmission }}
      </span>
    </div>
  </div>
  <div class="dcp-buy-box__legal dcp-buy-box-legal" v-if="emico && emico.length > 0">
    <p class="dcp-buy-box-legal__emico dcp-buy-box-emico" v-for="(data, index) in emico" :key="index"
      :data-test-id="`dcp-buy-box-emico-${index}`">
      {{ `${data.label}: ${data.displayValue}` }}
    </p>
  </div>
  <button v-if="!disableDirectCheckout" class="dcp-buy-box__main-cta wb2-btn-01" @click="$customEmit('trigger-checkout')"
    data-test-id="dcp-buy-box__main-cta" v-track-event="'add to cart'">
    {{ $t('dcp.pdp.buybox.mainCta') }}
  </button>
  <button
    class="dcp-buy-box__request-quote-cta wb2-btn-01"
    :class="{ 'wb2-btn-01--disabled': disableRequestForQuoteButton }"
    :disabled="disableRequestForQuoteButton"
    @click="$customEmit('trigger-request-quote')"
    data-test-id="dcp-buy-box__request-quote-cta"
    v-if="allowPriceNegotiation"
    v-track-event="'request quote'">
    {{ $t('dcp.pdp.buybox.requestQuoteCta') }}
  </button>
  <button
    class="dcp-buy-box__contact-seller dcp-buy-box-contact-seller wb2-btn-03"
    :class="{ 'wb2-btn-03--disabled': disableContactButton }"
    :disabled="disableContactButton"
    @click="contactSeller"
    data-test-id="dcp-buy-box__contact-seller"
    v-track-event="'contact dealer'">
    <icon-call class="dcp-buy-box-contact-seller__icon"></icon-call>
    <span>{{ $t('dcp.pdp.buybox.contactSeller') }}</span>
  </button>
</div>
