<router-link
  class="dcp-product-tile"
  tag="div"
  :to="{ name: 'pdp', params: {
    assortment: 'vehicle',
    code: product.code
  }}">
  <span
    class="dcp-product-tile__online-indicator"
    v-if="availableOnline">
    {{ $t('dcp.srp.productTile.onlineAvailability') }}
  </span>
  <img
    class="dcp-product-tile__image"
    v-if="product.images.length > 0"
    :src="product.images[0].url | imageUrlDcpMedia"
    :alt="product.images[0].altText">
  <h3
    class="dcp-product-tile__model"
    data-test-id="dcp-product-tile__model">
    {{ product.name }}
  </h3>
  <p
    class="dcp-product-tile__price dcp-product-tile-price"
    data-test-id="dcp-product-tile-price"
    v-if="showPrice">
    {{ product.price.formattedValue | removeDecimal }}
    <sup
      class="dcp-product-tile-price__reference"
      v-for="(footnote, index) in priceFootnotes"
      :key="index"
      @click.stop="scrollToFootnotes">
      {{ `[${footnote.referenceNumber}]` }}
    </sup>
  </p>

  <monthly-rate
    v-if="showMonthlyRate"
    :monthly-rate="product.monthlyRate" />

  <div
    class="dcp-product-tile__specifics"
    data-test-id="dcp-product-tile__specifics">
    {{ product.summary }}
  </div>
  <div class="dcp-product-tile__consumption dcp-product-tile-consumption">
    <p
      v-for="(value, index) in product.emicoData"
      :key="index"
      :data-test-id="`product-tile__consumption-emico-item-${index}`">
      {{ value.label }}
      <sup
        class="dcp-product-tile-consumption__reference"
        v-if="emicoFootnote"
        @click.stop="scrollToFootnotes"
        data-test-id="product-tile-consumption-reference">
        {{ `[${emicoFootnote.referenceNumber}]` }}
      </sup>
      {{ `: ${value.displayValue}` }}
    </p>
  </div>
  <div class="dcp-product-tile__location dcp-product-tile-location"
    v-if="showDealer">
    <div class="dcp-product-tile-location__icon-container">
      <icon-location class="dcp-product-tile-location__icon"></icon-location>
    </div>
    <div class="dcp-product-tile-location__dealer dcp-product-tile-dealer">
      <span
        class="dcp-product-tile-dealer__name"
        data-test-id="dcp-product-tile-dealer-display-name"
        v-if="showDealerName">
          {{ product.pointOfServiceDisplayName }}
      </span>
      <span
        class="dcp-product-tile-dealer__address"
        data-test-id="dcp-product-tile-dealer-address"
        v-if="showDealerLocation">
          {{ product.pointOfServiceFormattedAddress }}
          <sup
            class="dcp-product-tile-dealer-address__reference"
            @click.stop="scrollToFootnotes"
            data-test-id="product-tile-dealer-address-reference"
            v-for="(ref, index) in locationFootnoteRefs">
            [{{ ref }}]
          </sup>
      </span>
    </div>
  </div>
  <router-link
    class="wb2-btn-03 dcp-product-tile__link"
    tag="a"
    :to="{ name: 'pdp', params: {
      assortment: 'vehicle',
      code: product.code
    }}">
    <icon-arrow class="wb2-btn-03__icon"></icon-arrow>
    <span>{{ $t('dcp.srp.productTile.more') }}</span>
  </router-link>
</router-link>
