<div class="dcp-detail-filter-vehicle">
  <!-- desktop filter -->
  <modal-popup
    class="dcp-detail-filter-vehicle__modal dcp-detail-filter-vehicle-modal dcp-detail-filter-vehicle-modal--desktop"
    modal-type="edit"
    :is-open="show"
    @close="closeModal"
    data-test-id="dcp-detail-filter-vehicle-modal--desktop">
    <template slot="content">
      <div class="dcp-detail-filter-vehicle-modal__content dcp-detail-filter-vehicle-modal-content">
        <div class="dcp-detail-filter-vehicle-modal-content__header dcp-detail-filter-vehicle-modal-header">
          <div class="dcp-detail-filter-vehicle-modal-header__title-wrapper">
            <h1 class="dcp-detail-filter-vehicle-modal-header__headline">All filters</h1>

            <!-- filters reset button -->
            <a
              class="dcp-detail-filter-vehicle-modal-header__reset-button wb2-btn-03"
              @click="clearAllFilters"
              v-if="areFiltersSelected"
              data-test-id="dcp-detail-filter-vehicle-modal__reset-button">
              {{ $t('dcp.srp.filters.reset') }}
            </a>
          </div>

          <!-- filter categories listing -->
          <div class="dcp-detail-filter-vehicle-modal-header__categories dcp-detail-filter-vehicle-categories">
            <a
              class="dcp-detail-filter-vehicle-categories__item dcp-detail-filter-vehicle-categories-item"
              v-for="(filterGroup, index) in filterGroups"
              :class="{ 'dcp-detail-filter-vehicle-categories-item--active': selectedCategoryIndex === index }"
              @click="selectFilterCategory(index)">
              <component
                class="dcp-detail-filter-vehicle-categories-item__icon"
                :is="filterGroup.icon" />
              <span class="dcp-detail-filter-vehicle-categories-item__label">
                {{ filterGroup.name }}
              </span>
            </a>
          </div>
        </div>

        <!-- filter category contents -->
        <div
					v-if="filterGroups[selectedCategoryIndex] /* OTOS-976 */"
					class="dcp-detail-filter-vehicle-modal-content__filter-group dcp-detail-filter-vehicle-filter-group">
          <h2 class="dcp-detail-filter-vehicle-filter-group__headline">
            {{ filterGroups[selectedCategoryIndex].name }}
          </h2>

          <div
            class="dcp-detail-filter-vehicle-filter-group__filters dcp-detail-filter-vehicle-filters"
            v-for="filter in filterGroups[selectedCategoryIndex].filters">
            <h3 class="dcp-detail-filter-vehicle-filters__headline"
                v-if="filter.code !== 'dealer' && filter.code !== 'model' && filter.code !== 'bodyType' && filter.type !== Enums.FilterTypes.Slider">
              {{ filter.name }}
            </h3>

            <filter-location v-if="filter.code === 'dealer'" @change="changeFilter" />
            <filter-wrapper v-else-if="filter.type === Enums.FilterTypes.Slider" :filter="filter" @change="changeFilterDebounced" />
            <filter-wrapper v-else :filter="filter" @change="changeFilter" />
          </div>
        </div>
      </div>
    </template>
    <template slot="footer">
      <span>
        <!--
          since the modal footer has a justify-content: space between set, we need
          that empty element to push the button to the right.
        -->
      </span>
      <button
        class="wb2-btn-01"
        @click="closeModal()"
        data-test-id="dcp-detail-filter-vehicle-modal-footer__close-button">
        {{ $t('dcp.srp.show') }} ({{ totalResults }}) {{ $t('dcp.srp.cars') }}
      </button>
    </template>
  </modal-popup>

  <!-- mobile filter -->
  <modal-popup
    class="dcp-detail-filter-vehicle__modal dcp-detail-filter-vehicle-modal dcp-detail-filter-vehicle-modal--mobile"
    modal-type="info"
    :always-show-footer="true"
    :is-open="show"
    :multi-stage-content="modalContent"
    :register-content-trigger="registerModalContentTrigger"
    @close="closeModal"
    data-test-id="detail-filter-vehicle-modal--mobile">
    <template slot="content">
      <div
        v-if="modalContent[0] && modalContent[0].show"
        class="dcp-detail-filter-vehicle-modal__content dcp-detail-filter-vehicle-modal-content">
        <h2 class="dcp-detail-filter-vehicle-modal-content__headline">
          {{ $t('dcp.srp.filters.showAllFilter') }}
        </h2>

        <!-- filter reset button -->
        <a
          class="dcp-detail-filter-vehicle-modal-content__reset-button wb2-btn-03"
          @click="clearAllFilters"
          v-if="areFiltersSelected"
          data-test-id="detail-filter-vehicle-modal__reset-button">
          {{ $t('dcp.srp.filters.reset') }}
        </a>

        <template v-for="filter in vehicleCategoryFilters">
          <filter-wrapper v-if="filter.type === Enums.FilterTypes.Slider" :key="filter.code" :filter="filter" @change="changeFilterDebounced" />
          <filter-wrapper v-else :key="filter.code" :filter="filter" @change="changeFilter" />
        </template>
        <filter-location @change="changeFilter" />

        <hr class="dcp-detail-filter-vehicle-modal-content__divider">

        <!-- filter category listing -->
        <div
          v-for="(filter, index) in generalFilters" :key="index"
          class="dcp-detail-filter-vehicle-modal-content__filter-categories dcp-detail-filter-vehicle-category-list">
          <div
            class="dcp-detail-filter-vehicle-category-list__item dcp-detail-filter-vehicle-category-list-item"
            :data-test-id="`dcp-filter-modal-content-category-list-item__${index}`"
            @click="modalContentTrigger(index + 1)">
            <div
              class="dcp-detail-filter-vehicle-category-list-item__name"
              :class="{ 'dcp-detail-filter-vehicle-category-list-item__name--active': filter.isSelected() }">
              {{ filter.name }}
            </div>
            <button
              class="dcp-detail-filter-vehicle-category-list-item__trigger-button"
              data-test-id="dcp-filter-modal-content-category-list-item-trigger-button">
              <icon-arrow class="dcp-detail-filter-vehicle-category-list-item__trigger-button-icon"></icon-arrow>
            </button>
          </div>
        </div>
      </div>

      <!-- mobile filters modal secondary content -->
      <div
        class="dcp-detail-filter-vehicle-modal-content__filters dcp-detail-filter-vehicle-filters"
        v-if="modalContent[index + 1] && modalContent[index + 1].show"
        v-for="(filter, index) in generalFilters">
        <h2 class="dcp-detail-filter-vehicle-filters__headline">
          {{ filter.displayName }}
        </h2>

        <filter-wrapper :filter="filter" @change="changeFilter"></filter-wrapper>
      </div>
    </template>
    <template slot="footer">
      <button
        class="dcp-detail-filter-vehicle-modal-footer-button wb2-btn-01"
        @click="closeModal()"
        data-test-id="dcp-detail-filter-vehicle-modal-footer__close-button">
        {{ $t('dcp.srp.show') }} ({{ totalResults }}) {{ $t('dcp.srp.cars') }}
      </button>
    </template>
  </modal-popup>
</div>
